/**********************************************************************************************************************/

.display.default {
  position: relative;
  width: 100%;
  height: 100%;
}

.display.linked {
  position: relative;
  --displayWidth: var(--containerWidth);
  --displayHeight: var(--containerHeight);
  width: var(--displayWidth);
  height: var(--displayHeight);
}

.layer.default {
  position: absolute;
  width: 100%;
  height: 100%;
}

/**********************************************************************************************************************/
