.screen {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(12, 12, 12);
}

.element {
  position: relative;
}

.display {
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}
