:root {
  --fontSize: 16px;
  --fontFamily: calibri, sans-serif;
  --backgroundColor: rgb(12, 12, 12); /* set by theme provider, this is for no flash */
  --fontColor: rgb(192, 192, 192); /* set by theme provider, this is for no flash */
}

html {
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
}

body[data-input-mode="keyboard"] {
  cursor: none;
}
body[data-input-mode="keyboard"] #root {
  pointer-events: none;
}

#root {
  position: relative;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
}

#root-container {
  width: 100%;
  height: 100%;
}

.themeTransition {
  --transitionDuration: 400ms;
  --transitionFunction: ease-out;
  transition:
    background-color var(--transitionDuration) var(--transitionFunction),
    color var(--transitionDuration) var(--transitionFunction);
}
